<mat-toolbar color="warn">
  <mat-toolbar-row>
    <a mat-raised-button routerLink='/home'><i class="material-icons">home</i>Home</a>
    <a mat-stroked-button routerLink='/bike-view'>View Bike Order</a>
    <span class="example-spacer"></span>
    <a mat-raised-button routerLink="/login"><i class="material-icons">exit_to_app</i>Logout</a>
    <!-- <a mat-stroked-button routerLink='/register'>Register</a> -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile>
    <div style = "text-align:center">
      <h1>Bike Service</h1>
      <img width="200"  src="src/image/bike.png">
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-card class="example-card">
  <mat-card-content style="text-align:center">
    <form #bikeForm="ngForm">
      <h1 style="text-align:center">ค่าบริการ 20 บาท</h1>
      <h2>Customer :</h2>
      <mat-form-field appearance="fill" >
        <mat-label> Customer </mat-label>
        <mat-select required
                    [(ngModel)]="select.usernameSelect"
                    [(ngModel)]="data.username"
                    
                    name="username" #username>
          <mat-option *ngFor="let customer of customers" [value]="customer.customerId" (blur)="getCustomerDetail()">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <h2>Area :</h2>
      <mat-form-field appearance="fill" >
        <mat-label> Area </mat-label>
        <mat-select required
                    [(ngModel)]="select.areaSelect"
                    [(ngModel)]="areaPrice"
                    [(ngModel)]="data.areas"

                    name="area" #area>
          <mat-option *ngFor="let area of areas" [value]="area.areaId" (blur)="getAreaDetail()">
            {{area.areaType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <h2>Location :</h2>
      <mat-form-field appearance="outline">
        <mat-label> Pick Location </mat-label>
        <textarea matInput required placeholder="123/4 ซอย ถนน แขวง เขต กรุงเทพฯ 00000"
                  [(ngModel)]="pickLocation"
                  [(ngModel)]="data.pickLocation"
                  name="pickLocation1" #pickLocation1>
        </textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label> Drop Location </mat-label>
        <textarea matInput required placeholder="123/4 ซอย ถนน แขวง เขต กรุงเทพฯ 00000"
                  [(ngModel)]="dropLocation"
                  [(ngModel)]="data.dropLocation"
                  name="dropLocation1" #dropLocation1>
        </textarea>
      </mat-form-field>
      <br>
      <h2>Payment :</h2>
      <mat-form-field appearance="fill">
        <mat-label> Payment </mat-label>
        <mat-select required
                    [(ngModel)]="select.paymentSelect"
                    [(ngModel)]="data.payment"
                    
                    name="payments" #payment>
          <mat-option *ngFor="let payment of payments" [value]="payment.paymentId" (blur)="getPaymentDetail()">
            {{payment.paymentType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </form>
  </mat-card-content>

  <mat-card-actions style="text-align:right">
    <a mat-raised-button (click)="SubmittedData()"  color="warn" type="submit">Save</a>
    <a mat-raised-button routerLink="/home" color="warn" >Cancel</a>
  </mat-card-actions>
</mat-card>
