<mat-toolbar color="warn">
    <mat-toolbar-row>
      <a mat-raised-button routerLink='/home'><i class="material-icons">home</i>Home</a>
      <span class="example-spacer"></span>
      <a mat-raised-button routerLink="/login"><i class="material-icons">exit_to_app</i>Logout</a>
      <!-- <a mat-stroked-button routerLink='/register'>Register</a> -->
    </mat-toolbar-row>
  </mat-toolbar>

<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile>
    <div style = "text-align:center">
      <h1>Online Shipping</h1>
      <img width="200"  src="src/image/route2.png">
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="service">
  <div class="card-display">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('src/image/route3.png')"></div>
          <mat-card-title>FOOD DELIVERY</mat-card-title>
        </mat-card-header>
      <img mat-card-image class="card-image" src="src/image/food.png">
      <mat-card-content >
        <p>Satisfy your appetite with your favorite foods from anywhere</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/food">SERVICE</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card-display">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('src/image/route3.png')"></div>
        <mat-card-title>CONVENIENCE GOODS</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="src/image/convenience.png">
      <mat-card-content>
        <p>Make your life easy with groceries delivered to your door</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/convenience">SERVICE</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card-display">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('src/image/route3.png')"></div>
        <mat-card-title>TAXI SERVICE</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="src/image/taxi.png">
      <mat-card-content>
        <p>Request a verified taxi to the pickup location of your choice</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/taxi">SERVICE</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card-display">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('src/image/route3.png')"></div>
        <mat-card-title>BIKE SERVICE</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="src/image/bike.png">
      <mat-card-content>
        <p>Request a verified bike to the pickup location of your choice</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/bike">SERVICE</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card-display">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('src/image/route3.png')"></div>
        <mat-card-title>POSTAL SERVICE</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="src/image/postal.png">
      <mat-card-content>
        <p>Postal delivery at your doorstep by the courier of your choice</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/postal">SERVICE</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card-display">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('src/image/route3.png')"></div>
        <mat-card-title>MESSENGER SERVICE</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-image" src="src/image/messenger.png">
      <mat-card-content>
        <p>Deliver your packages quickly and safely at anytime</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="warn" routerLink="/messenger">SERVICE</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
