<mat-toolbar color="warn">
    <mat-toolbar-row>
      <a mat-raised-button routerLink='/home'><i class="material-icons">home</i>Home</a>
      <a mat-stroked-button routerLink='/postal-show'>View Postal Order</a>
      <span class="example-spacer"></span>
      <a mat-raised-button routerLink="/login"><i class="material-icons">exit_to_app</i>Logout</a>
      <!-- <a mat-stroked-button routerLink='/register'>Register</a> -->
    </mat-toolbar-row>
  </mat-toolbar>

<mat-grid-list cols="1" rowHeight="5:1">
  <mat-grid-tile>
    <div style = "text-align:center">
      <h1>Postal Service List Order</h1>
      <img width="200"  src="src/image/postal.png">
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="2:1" >
  <mat-grid-tile *ngFor="let order of postalOrders">
    <div>
    <mat-card class="example-card" >
      <mat-card-content style="text-align:center">
        <table>
          <tr><th>Id</th><th style="text-align:right">{{order.postalOrderId}}</th></tr>
          <tr><th>Date</th><th style="text-align:right">{{order.orderDate}}</th></tr>
          <tr><th>Name</th><th style="text-align:right">{{order.customerorder.name}}</th></tr>
          <tr><th>Phone Number</th><th style="text-align:right">{{order.customerorder.phone}}</th></tr>
          <tr><th>Address</th><th style="text-align:right">{{order.customerorder.address}}</th></tr>
          <tr><th>Email</th><th style="text-align:right">{{order.customerorder.email}}</th></tr>
          <tr><th>ประเภทการจัดส่ง(Category)</th><th style="text-align:right">{{order.category.category}}</th></tr>
          <tr><th>จำนวนพัสดุ(Amount)</th><th style="text-align:right">{{order.amount.box}} packages</th></tr>
        </table>
      </mat-card-content>
    </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>


