<mat-toolbar color="warn">
    <mat-toolbar-row>
      <!-- <a mat-raised-button routerLink='/home'><i class="material-icons">home</i>Home</a> -->
      <span class="example-spacer"></span>
      <a mat-raised-button routerLink="/login"><i class="material-icons">exit_to_app</i>Login</a>
      <a mat-stroked-button routerLink='/register'>Register</a>
    </mat-toolbar-row>
  </mat-toolbar>


<mat-grid-list cols="1" rowHeight="5:1">
    <mat-grid-tile>
      <div style = "text-align:center">
        <h1>Login</h1>
        <img width="200"  src="src/image/route2.png">
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div style="color: white">login</div>

  <mat-card class="example-card">
    <mat-card-content style="text-align:center">
      <mat-form-field>
        <input matInput placeholder="Username" type="text" id="username" [(ngModel)]="customer.username">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" id="password" [(ngModel)]="customer.password">
      </mat-form-field>
    </mat-card-content>
    
    <mat-card-actions style="text-align:right">
      <a mat-raised-button (click)="login()" color="warn" type="submit">Login</a>
    </mat-card-actions>
  
  </mat-card>
